@font-face {
    font-family: 'DirtyCrown';
    src: url('DirtyCrown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 10px;
    margin-right: 270px;
    padding-left: 150px;
    height: 100vh;
    display: flex;
    background: linear-gradient(90deg, #ffffff, #f1acd0, #ff0000);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    font-family: 'DirtyCrown';
    font-size: 70px;
}
a {
    text-decoration: none;
    color: black;
  }
@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}

.header-container {
    position: relative;
    text-align: center;
    text-align: center;
}

.main-header,
.daily-header,
.monthly-header {
    text-align: center;
    top: -1em;
    left: -1.5em;
}

.main-header {
    animation: fadeOutRoutines 6s forwards;
    font-size: 150px;
}

.daily-header {
    animation: fadeOutDaily 13s ease forwards;
}

@keyframes fadeOutRoutines {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOutDaily {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOutDailyPhoto {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.daily {
    opacity: 0;
}

@keyframes fadeInDaily {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.daily-photo1,
.daily-photo2,
.daily-photo3,
.monthly-photo1,
.monthly-photo2 {
    position: absolute;
    align-items: center;
    margin: -140%; /* Center horizontally */
    margin-left: -200px;
    width: 400px; /* Set a fixed width for each image */
    height: 500px; /* Set a fixed height for each image */
    object-fit: cover; /* Adjust this property as needed */
    border: 1px solid #000000;
    opacity: 0;
}

.daily-photo1 {
    animation: fadeInPhoto 9s forwards;
}

.daily-photo2 {
    animation: fadeInPhoto 11s forwards;
}

.daily-photo3 {
    animation: fadeInPhoto 14s forwards;
}



@keyframes fadeInPhoto {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 0;
        transform: translateY(0px);
    }
    70% {
        opacity: 1;
        transform: translateY(10);
    }
    90% {
        opacity: 0.5;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes fadeInMonthly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.monthly-photo1 {
    animation: fadeInPhoto 23s forwards;
    animation-delay: 2s;
    width: 450px; /* Set a fixed width for each image */
    height: 550px; /* Set a fixed height for each image */
    margin: -140%; /* Center horizontally */
    margin-left: -235px;

}

.monthly-photo2 {
    animation: fadeInPhoto 26s forwards;
    animation-delay: 2s; 
    width: 450px; /* Set a fixed width for each image */
    height: 550px; /* Set a fixed height for each image */
    margin: -140%; /* Center horizontally */
    margin-left: -235px;
}

.monthly-header {
    position:  relative;
    text-align: center;
    top: -1.69em;
    left: 0;
    opacity: 0;
    animation: fadeInPhoto 20s ease-in;
}

.yearly-header {
    z-index: top;
    position:  relative;
    text-align: center;
    top: -400px;
    left: 0;
    opacity: 0;
    animation: fadeInPhoto 41s ease-in;
}
.yearly-photo1{
    position: absolute;
    align-items: center;
    margin: -200%; /* Center horizontally */
    margin-left: -260px;
    width: 500px; /* Set a fixed width for each image */
    height: 600px; /* Set a fixed height for each image */
    object-fit: cover; /* Adjust this property as needed */
    border: 1px solid #000000;
    opacity: 0;
    animation: fadeInPhoto 55s forwards;
}

.header{   position:  relative;
    text-align: center ;
    align-items: center;
    justify-content: center;
    padding-left: -60px;
  height: 700px;
   width: 650px;
    top: 80px;
    left: 370px;
    opacity: 0;
    animation: fadeInPhoto 63s ease-in;
    font-size: 180px;
}


.quiz {
    font-size: 20px;
    padding:0 30px 20px 30px;
    max-width:960px;
    margin:0 auto;
    
    ul {
      list-style:none;
      padding:0;
      margin:0;
    }
  }
  .quiz-question {
    
    display:block;
    padding:30px 0 10px 0;
    margin:0;
  }
  .quiz-answer {
    margin:0;
    padding:10px;
   
    margin-bottom:5px;
    cursor: pointer;
    
    &:hover {
      background:#eee;
    }
    
    &:before {
      content:"";
      display:inline-block;
      width:15px;
      height:15px;
      border:1px solid #ccc;
      background:#fff;
      vertical-align:middle;
      margin-right:10px;
    }
    
    &.active {
      &:before {
        background-color:#333;
        border-color:#333;
      }
    }
    &.correct {
      &:before {
        background-color:green;
        border-color:green;
      }
    }
    &.incorrect {
      &:before {
        background-color:red;
        border-color:red;
      }
    }
    &.active.correct {
      &:before {
        outline: 2px solid green;
        outline-offset: 2px;
      }
    }
  }
  .quiz-result {
    max-width:960px;
    margin:0 auto;
    font-weight:bold;
    text-align:center;
    color: #fff;
    padding:20px;
    
    &.good {
      background: green;
    }
    &.mid {
      background: orange;
    }
    &.bad {
      background: red;
    }
  }