@font-face {
    font-family: 'DirtyCrown';
    src: url('DirtyCrown.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 200px;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(90deg, #ffffff, #f1acd0, #ff0000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-family: 'DirtyCrown';
    font-size: 100px;
}

@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

}

.header-container {
    position: relative;
    text-align: center;
    text-align: center;
}

.main-header,
.daily-header,
.monthly-header {
    text-align: center;
    top: -1em;
    left: -1.5em;
}

.main-header {
    animation: fadeOutRoutines 6s forwards;
}

.daily-header {
    animation: fadeOutDaily 13s ease forwards;
}

@keyframes fadeOutRoutines {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOutDaily {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeOutDailyPhoto {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.daily {
    opacity: 0;
}

@keyframes fadeInDaily {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.daily-photo1,
.daily-photo2,
.daily-photo3,
.monthly-photo1,
.monthly-photo2 {
    position: absolute;
    align-items: center;
    margin: -140%; /* Center horizontally */
    margin-left: -200px;
    width: 400px; /* Set a fixed width for each image */
    height: 500px; /* Set a fixed height for each image */
    object-fit: cover; /* Adjust this property as needed */
    border: 1px solid #000000;
    opacity: 0;
}

.daily-photo1 {
    animation: fadeInPhoto 9s forwards;
}

.daily-photo2 {
    animation: fadeInPhoto 11s forwards;
}

.daily-photo3 {
    animation: fadeInPhoto 14s forwards;
}



@keyframes fadeInPhoto {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    50% {
        opacity: 0;
        transform: translateY(0px);
    }
    70% {
        opacity: 1;
        transform: translateY(10);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }
}
@keyframes fadeInMonthly {
0% {
    opacity: 0;
    transform: translateY(0px);
}
50% {
    opacity: 1;
    transform: translateY(0px);
}
70% {
    opacity: 1;
    transform: translateY(10);
}
90% {
    opacity: 1;
    transform: translateY(0);
}
100% {
    opacity: 0;
    transform: translateY(0);
}}

@keyframes fadeInMonthlyPhoto {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60%{opacity: 0;
        ;}
    100% {
        opacity: 0;
    }
}

.monthly-header {
    position:  relative;
    text-align: center;
    top: -1.69em;
    left: 0;
    opacity: 0;
    animation: fadeInMonthlyPhoto 25s ease-in;
     animation-delay: 15s; /* Delay for 2 seconds */
}
.monthly-photo1 {
    animation: fadeInMonthly 33s forwards;
    animation-delay: 13s; /* Delay for 2 seconds */
}

.monthly-photo2 {
    animation: fadeInPhoto 34s forwards;
    animation-delay: 14s; /* Delay for 4 seconds */
}

.monthly-header {
    position:  relative;
    text-align: center;
    top: -1.69em;
    left: 0;
    opacity: 0;
    animation: fadeInMonthly 37s ease-in;
    animation-delay: 12s; /* Delay for 2 seconds */

}

.yearly-header {
    position:  relative;
    text-align: center;
    left: 0;
    opacity: 0;
    animation: fadeIn 43s ease-in;
}